[submodule "plugins/pelican-encrypt-content"]
	path = plugins/pelican-encrypt-content
	url = https://github.com/mindcruzer/pelican-encrypt-content.git
[submodule "plugins/pelican-deadlinks"]
	path = plugins/pelican-deadlinks
	url = https://github.com/silentlamb/pelican-deadlinks.git
