[submodule "pelican/plugins/pelican-encrypt-content"]
	path = pelican/plugins/encrypt-content
	url = https://github.com/mindcruzer/pelican-encrypt-content.git
[submodule "pelican/plugins/pelican-deadlinks"]
	path = pelican/plugins/deadlinks
	url = https://github.com/silentlamb/pelican-deadlinks.git
